### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [ ]:
#create a list of unique screen names
NumPlayers = purchase_data["SN"].unique()

#dimension the length of this list
TotPlayer = len(NumPlayers)

#add list count to dataframe
CountPlayer = pd.DataFrame({"Total Players":[TotPlayer]})
CountPlayer

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#create list of unique item ids
UniqueItems = purchase_data["Item ID"].unique()

#dimension the length of this list
NumUniqueItems = len(UniqueItems)

#determine average price
AvgPrice = purchase_data["Price"].mean()

#determine total number of purchases
NumPurchases = purchase_data["Purchase ID"].count()

#determine total revenue
TotRevenue = purchase_data["Price"].sum()

#create a dataframe containing summary data
Report_df = pd.DataFrame({"Number of Unique Items":[NumUniqueItems], "Average Price":[AvgPrice],
    "Number of Purchases":[NumPurchases], "Total Revenue":[TotRevenue]})

#format dataframe with ${:,.2f}
Report_df["Average Price"] = Report_df["Average Price"].map("${:,.2f}".format)
Report_df["Total Revenue"] = Report_df["Total Revenue"].map("${:,.2f}".format)
Report_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
#establish variables and calculate
PurchaseDuplicates = purchase_data.drop_duplicates(["SN"])
GenderTotals=pd.DataFrame(PurchaseDuplicates["Gender"].value_counts())
GenderPercents=round(GenderTotals/TotPlayer*100,2)

#concatenate to combine
GenderSummary= pd.concat([GenderTotals,GenderPercents],axis=1)

#name the columns
GenderSummary.columns = ["Total Count","Percentage of Players"]
GenderSummary

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#define purchase count by gender
CountPurchase=purchase_data.groupby(["Gender"]).count()["Purchase ID"]

#define average purchase price by gender
PricePurchaseAvg=purchase_data.groupby(["Gender"]).mean()["Price"]
PricePurchaseTot=purchase_data.groupby(["Gender"]).sum()["Price"]
PricePurchaseTotAvg = PricePurchaseTot / PurchaseDuplicates.groupby(["Gender"]).count()["Purchase ID"]

#combining series together
GenderPurchaseReport = pd.concat([CountPurchase,PricePurchaseAvg,PricePurchaseTot,PricePurchaseTotAvg],axis=1)

#defining column names
GenderPurchaseReport.columns = ["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]
GenderPurchaseReport

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
#create age bins and label
BinAges = [0, 9.999, 14.999, 19.999, 24.999, 29.999, 34.999, 39.999, 999]
BinNames = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# Create new data frame with the added "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")

# Count total players by age category
total_count_age = age_grouped["SN"].nunique()

# Calculate percentages by age category 
percentage_by_age = (total_count_age/total_players) * 100

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

# Format the data frame with no index name in the corner
age_demographics.index.name = None

# Format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

KeyError: 'Age'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame